{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins" : [
    "flow-vars"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "always"], // 必须使用 ';' 号结尾
    "space-before-function-paren" : 0, // 不检测 function 与 () 之间的空格
    "jsx-quotes" : 0,
    "space-infix-ops": 0,
    "max-len": [2, 160, 2],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    // 数组或对象末尾逗号不强制
    "comma-dangle": 0,
    // 注释前强制空1格 例:  // comment
    "spaced-comment": 0,
    // 允许块前空格 例如function() {}
    "padded-blocks": 0,
    // 允许使用匿名函数
    "func-names": 0,
    // 允许使用 console.log
    "no-console": 0,
    // 允许花括号内两侧不空格
    "object-curly-spacing": 0,
    // 未使的变量,只警告
    "no-unused-vars": 1,
    // 未使的变量,只警告
    "no-use-before-define": 2,
    // 不强制最后一行必须是空行
    "eol-last": 0,
    // 不强制优先使用const
    "prefer-const": 0,
    // 不进行排序
    "react/sort-comp": 0,
    // 不强制结尾空白
    "no-trailing-spaces": 0,
    // 允许else块中return
    "no-else-return": 0,
    // 不强制首字字母大写的函数只能出现在构造函数中
    "new-cap": 0,
    "react/jsx-boolean-value": 0,
    // 不强制 在jsx中写多行属性时尾'>'与'<'对齐
    "react/jsx-closing-bracket-location": 0,
    // 不强制jsx看属性换行时限制12空格
    "react/jsx-indent-props": 0,
    // 允许一页中写多个组件
    "react/no-multi-comp": 0
  }
}
