:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .btn{
    padding: 3px 12px;
    border-radius: 0;
  }
  .btn-red{
    color: white;
    background-color: red;
    border-color: #761c19;
  }
  .btn-black{
    color: white;
    background-color: black;
    border-color: #761c19;
  }

}
